@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leave Allocations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Leave Types</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id"><i class="fa fa-pencil"></i> Allocate to Employee</a>
                @*Html.ActionLink("Allocate to Employee", "SetLeave", new { id = item.Id })*@
            </td>
        </tr>
        }
    </tbody>
</table>
